<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>拼图</title>
</head>

<body>
	<div id="jigsaw">
		<select v-model="img">
			<option v-for="(img,key) in imgList" :key="key" :value="img">{{key}}</option>
		</select>

		<br>

		<input v-model="side_input">
		<p v-if="start">开始游戏</p>
		<p>{{hint}}</p>

		<div class="content">
			<transition-group>
				<div v-for="(todo,id) in todos" :key="todo" class="allPart">
					<li v-if="todo==0 && (!win || !start)" :key="todo" class="empty"
						:style="{width:(400/side)+'px',height:(400/side)+'px'}"></li>
					<li v-if="todo!=0 || (todo==0 && win && start)" class="part" @click="moved(id)"
						:style="{backgroundPositionX:js_bgX(todo)+'px',backgroundPositionY:js_bgY(todo)+'px',width:((400/side)-2)+'px',height:((400/side)-2)+'px',backgroundImage:'url('+img+')'}">
					</li>
				</div>
			</transition-group>
			<img :src="img" style="position: absolute;left:30px;top:100px;width:200px;height:200px;" />

			<p v-if="win&&start">恭喜通关</p>
		</div>
	</div>
</body>

<script src="js/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>
<script>
	var jigsaw = new Vue({
		el: '#jigsaw',
		data() {
			return {
				name: '拼图',
				todos: [],
				bgX: 0,
				bgY: 0,
				side: 4, //矩形长度
				side_input: 4,//输入的矩形长度
				win: false,//是否通关
				hint: '',//提示语句
				max: 20,//矩形最大长度限制
				start: false,// 开始游戏
				emptyPos: null,//空白格子位置
				upset: null,//默认打乱次数
				sleep: null,//每次打乱的延迟
				timer: null,//定时器存放
				img: 'img/spongeBob.jpg',//展示的图片
				imgList: {
					'海绵宝宝': 'img/spongeBob.jpg',
					'樱花': 'img/yinHua.jpg',
					'黑贞德': 'img/heiZhenDe.jpg',
					'女孩': 'img/girl.png',
					'床': 'img/bed.jpg',
					'图书馆女孩': 'img/tuShuGuan.png',
					'猫女': 'img/maoNv.png',
				}
			}
		},
		methods: {
			shuffleHandle(random) {
				//执行打乱效果，做出打乱动画用
				let part = null //空白方块与这个方块交换
				let all = parseInt(this.side * this.side)
				this.side = parseInt(this.side)
				this.emptyPos = parseInt(this.emptyPos)
				if (random == 0) { //up
					if (this.emptyPos - this.side >= 0) {
						part = this.emptyPos - this.side
						// console.log('up')
					}
				} else if (random == 1) { //down
					if (this.emptyPos + this.side < all) {
						part = this.emptyPos + this.side
						// console.log('down')
					}
				} else if (random == 2) { //left
					if ((this.emptyPos) % this.side != 0) {
						part = this.emptyPos - 1
						// console.log('left')
					}
				} else if (random == 3) { // right
					if ((this.emptyPos + 1) % this.side != 0) {
						part = this.emptyPos + 1
						// console.log('right')
					}
				}

				if (part != null) {
					// console.log(this.emptyPos, '替换的格子数组下标', part)
					part = parseInt(part)
					this.$set(this.todos, this.emptyPos, this.todos[part])
					this.$set(this.todos, part, 0)
					this.emptyPos = part
					this.upset -= 1
					if (this.upset <= 0) {
						console.log('开始游戏')
						clearInterval(this.timer)
						this.start = true
					}
					return true
				} else {
					return false
				}


			},
			shuffle: function () {
				//FLIP动画队列  _.shuffle(array) 打乱array
				// this.todos = _.shuffle(this.todos)
				let list = []
				this.start = false//游戏停止
				this.upset = (this.side * this.side * this.side)  //重置打乱次数
				this.timer = null //重置定时器
				clearInterval(this.timer)
				this.sleep = 100 - this.side * 5 > 1 ? 100 - this.side * 5 : 1//重置移动延迟
				this.emptyPos = this.side * this.side - 1//重置空白格子在数组内的位置
				let randomTemp = 0//开始默认上下走，下一次就得左右走
				this.rotate(randomTemp)
			},
			rotate(randomTemp) {
				//开始走 递归方式,可以重置每次走路的延迟
				setTimeout(() => {
					if (this.upset > 0) {
						let random = ((randomTemp + 1) % 2) * 2 + parseInt(Math.random() * 2)
						if (this.shuffleHandle(random)) {
							randomTemp = parseInt(random / 2)
							// console.log(random)
						}
						this.$nextTick(() => {
							this.rotate(randomTemp)
						})
					}
					console.log('123123')
				}, this.sleep);
			},
			moved: function (id) {
				console.log('move')
				//胜利了，或者还没开始，则每次点击直接退出
				if (this.win || !this.start) return
				//$set(array,index,value) array[index] = value
				let temp = this.todos[id];
				//在改变side的时候  side变成了字符串 需要parseInt一下。。。有点懵
				let side = parseInt(this.side)
				id = parseInt(id)
				//用$set更新数组内容可以触发重新渲染
				if (id - 1 >= 0 && this.todos[id - 1] == 0 && (id + 1) % side != 1) {//left
					this.$set(this.todos, id, 0);
					this.$set(this.todos, id - 1, temp);
				} else if (id + 1 < side * side && this.todos[id + 1] == 0 && (id + 1) % side != 0) {//right
					this.$set(this.todos, id, 0);
					this.$set(this.todos, id + 1, temp);
				} else if (id - side >= 0 && this.todos[id - side] == 0) {//up
					this.$set(this.todos, id, 0);
					this.$set(this.todos, id - side, temp);
				} else if (id + side < side * side && this.todos[id + side] == 0) {//dowm
					this.$set(this.todos, id, 0);
					this.$set(this.todos, id + side, temp);
				}
			},
			js_bgX(todo) { //计算图片x轴偏移量
				if (todo == 0) {
					todo = this.side * this.side
				}
				return -parseInt((todo - 1) % this.side) * (400 / this.side);
			},
			js_bgY(todo) { //计算图片y轴偏移量
				if (todo == 0) {
					todo = this.side * this.side
				}
				return -parseInt((todo - 1) / this.side) * (400 / this.side);
			},
			square(number) {//生成矩形数组 0-number*number
				let list = []
				for (let i = 1; i < number * number; i++) {
					list.push(i)
				}
				list.push(0)
				this.todos = list
			},
		},
		mounted: function () {
			this.square(this.side)
			this.shuffle()
		},
		watch: {
			todos(val) {
				let arr = []
				for (let i = 1; i < this.todos.length; i++) {
					arr.push(i)
				}
				arr.push(0)

				this.win = val.join('') == arr.join('')

				// if (val.join('') == arr.join('')) {
				// 	this.win = true;
				// 	// alert('恭喜通关');
				// }else{
				// 	this.win = false
				// }
			},
			side_input(newVal, oldVal) {
				if (newVal == '' || newVal <= 0 || newVal != parseInt(newVal)) {
					this.side = oldVal
				} else {
					this.side = newVal
					if (newVal > this.max) {
						this.side_input = this.max
						this.side = this.max
						this.hint = '生成太多了!给你一个最大范围'
					} else if (newVal < this.max) {
						this.hint = ''
					}
					this.square(this.side)
					this.shuffle()
				}
			}
		},
	})
</script>

<style>
	.title {
		position: relative;
		top: 50px;
	}

	.content {
		border: 2px solid black;
		margin: 0 auto;
		width: 400px;
		height: 400px;
		background-color: burlywood;
	}

	.part {
		/* width: 98px; */
		/* height: 98px; */
		/*background-color: orange;*/
		color: red;
		text-align: center;
		line-height: 50px;
		float: left;
		border: 1px solid burlywood;
		list-style-type: none;
		/* background-image: url(img/spongeBob.jpg); */
		background-size: 400px 400px;
		background-repeat: no-repeat;
		cursor: pointer;
		/* box-shadow: 0px 0px 20px 2px black; */
		/* z-index: 1; */
	}

	.empty {
		/* width: 100px; */
		/* height: 100px; */
		/* box-shadow: 0px 0px 20px 3px black inset; */
		float: left;
		list-style-type: none;
	}

	.allPart {
		transition: all .3s;
		display: flex;
		flex-direction: row;
		float: left;
		/* flex-wrap:wrap; */
	}
</style>

</html>